* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: 400px;
    width: 320px;
    border-radius: 15px;
    background-color: tomato;
    margin: 0 2rem;
    overflow: hidden;
    transition: all .5s ease-in-out;
    cursor: pointer;
    background-position: center center;
    background-size: 320px;
    &:hover {
        background-position: left;
        background-size: 520px;
        box-shadow: 5px 5px 18px rgba(0,0,0,.2);
    }
    .content {
        height: 97%;
        width: 97%;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgb(138, 129, 11);
        border-radius: 15px;
        transition: left .5s ease-in-out;
        .inner_content {
            padding: 1rem 1.5rem;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            .icons {
                display: flex;
                flex-direction: column;
                i {
                    padding: 0.5rem 0;
                }
            }
            h3 {
                font-size: 1.7rem;
            }
        }
    }
    &:hover {
        .content{
            left: 50%;
        }
    }
}

.card_1 {
    background-image: url(./images/shahin-khalaji-dE782dzsyGk-unsplash.jpg);
}

.card_2 {
    background-image: url(./images/alexander-krivitskiy-awXBjFhh7iw-unsplash.jpg);
}

.card_3 {
    background-image: url(./images/amirali-parsa-5KXA5oFLK5Y-unsplash.jpg);
}